**/.DS_Store
.pio
.vscode
.firebase
node_modules
cirkl_firmware/src/secrets.h
cirkl_website/database.rules.json
cirkl_website/.firebaserc
cirkl_website/firebase.json
cirkl_firmware/src/system_utils/secrets.h
